# =========================================
# PYTHON
# =========================================
__pycache__/
*.py[cod]
*$py.class

# =========================================
# VIRTUAL ENVIRONMENT
# =========================================
env/
venv/
ENV/

# =========================================
# STREAMLIT
# =========================================
.streamlit/secrets.toml

# =========================================
# ENV FILES
# =========================================
.env
.env.*

# =========================================
# LOG FILES
# =========================================
*.log
logs/

# =========================================
# DATABASE FILES
# =========================================
*.db
*.sqlite3

# =========================================
# JUPYTER
# =========================================
.ipynb_checkpoints/

# =========================================
# DATASETS / LARGE FILES
# =========================================
Dataset/
*.pkl
*.csv

# =========================================
# VS CODE
# =========================================
.vscode/

# =========================================
# OS FILES
# =========================================
.DS_Store
Thumbs.db

# =========================================
# BUILD FILES
# =========================================
build/
dist/
*.egg-info/

# =========================================
# CACHE
# =========================================
.cache/
pytest_cache/

# =========================================
# TEMP FILES
# =========================================
tmp/
temp/